<form class="login">
  <div class="login__field">
    <i class="login__icon fas fa-user"></i>
    <input type="text" class="login__input" placeholder="Name">
  </div>
  <div class="login__field">
    <i class="login__icon fas fa-user"></i>
    <input type="text" class="login__input" placeholder="Family">
  </div>
  <div class="login__field">
    <i class="login__icon fas fa-user"></i>
    <input type="text" class="login__input" placeholder="User name / Email">
  </div>
  <div class="login__field">
    <i class="login__icon fas fa-lock"></i>
    <input type="password" class="login__input" placeholder="Password">
  </div>
  <div class="login__field">
    <i class="login__icon fas fa-lock"></i>
    <input type="password" class="login__input" placeholder="Repeat Password">
  </div>
  <button class="button login__submit">
    <span class="button__text">Register In Now</span>
    <i class="button__icon fas fa-chevron-right"></i>
  </button>
</form>
<div class="register-link d-flex align-items-center text-white position-absolute r-14 b-0">
  <p class="m-0">have an account?</p>
  <a class="ms-2 p-2 text-white rounded" href="testy"> Login </a>
</div>
