<div class="d-flex justify-content-center align-items-center h-100 w-100">
  <!-- content -->
  <div class="d-flex flex-row custom-container shadow-lg">
    <!-- left side -->
    <div class="h-100 w-50 bg-primary">
      <img src="assets\boy_developer.jfif" class="w-100 h-100 object-fit-cover">
    </div>
    <!-- right side -->
    <div class="h-100 w-50 bg-success">
      <div class="screen h-100 w-100">
        <div class="z-1 h-100 position-relative">
          <!-- login or register form-->
          <router-outlet/>
        </div>
        <!-- custom background -->
        <div class="position-absolute top-0 start-0 bottom-0 end-0 z-0 overflow-hidden">
          <span class="screen__background__shape screen__background__shape4"></span>
          <span class="screen__background__shape screen__background__shape3"></span>
          <span class="screen__background__shape screen__background__shape2"></span>
          <span class="screen__background__shape screen__background__shape1"></span>
        </div>
      </div>
    </div>
  </div>
</div>
